@import 'defaults';


#about {
    width: 55%;
    max-width: 775px;
    margin: auto;
    font-size: 18px;
    text-align: center;
    color: $paragraph;
    font-family: $fontSecondary;
    line-height: 1.8;

    h1 {
        @include titles;
        text-align: left;
        margin: 20px 0px;
    }
}