@import 'colors';

$fontPrimary: "Spartan", sans-serif;
$fontSecondary: 'DM Sans', sans-serif;

@mixin limits-layout {
    min-width: 400px;
    width: 90%;
    margin: auto;
    padding: 20px 60px;
}

@mixin titles {
    font-size: 32px;
    color: $white;
    font-family: $fontSecondary;

    &:hover {
        cursor: pointer;
    }
}

@mixin  defaultTrasition($tag) {
    #{$tag} {
        transition: 0.5s;   
    }

    #{$tag}:hover {
        color: $white;
    }
}

@include defaultTrasition(#{p});