@import "colors";
@import "defaults";

* {
    padding: 0;
    margin: 0;
    background-color: $dark;
}

.wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40vh auto 10vh;
}

header {
    @include limits-layout;
    margin: auto;
    grid-row: 1/1;
    grid-column: 1/1;
}

article {
    @include limits-layout;
    grid-row: 1/1;
    grid-column: 2/2;
}

footer {
    overflow: both;
    grid-row: 1/1;
    grid-column: 3/3;
}
