@import 'defaults';

#projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
    }
}

.title_projects {
    @include titles;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

@for $i from 1 through 100 {
    .projects-#{$i} {
        width: 300px;
        min-height: 250px;
        background-color: $black;
        border: 0.5px solid $primaryLight;
        margin: 20px;
        padding: 25px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .projects-img {
            max-width: 300px;
            min-height: 130px;
            background-color: #000;

            img {
                width: 100%;
                height: 190px;
            }
        }

        h3,
        p {
            margin-top: 10px;
            color: $white;
            font-family: $fontSecondary;
            background-color: $black;
        }

        p {
            color: $paragraph;
            margin-bottom: 0px;
        }

        @include defaultTrasition(#{p});
    }
}